@import '~antd/dist/antd.css';

body {
  background: #f9f9f9;
  height: 575px;
}

.header {
  margin-top: 50px;
  margin-bottom: 0;
}

.chat-container {
  background: white;
  width: 525px;
  height: 600px;
  margin: 50px auto;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 15px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 8px 15px -3px rgba(0,0,0,0.75);
  box-shadow: 0px 8px 15px -3px rgba(0,0,0,0.75);
}
.message-container {
  background: white;
  overflow: auto;
  height: 500px;
  width: 500px;
  margin: 0 auto;
  padding-left: 10px;
}

.context-menu {
  background: #224045;
  margin: 0 auto;
  text-align: left;
  width: 75px;
  border-radius: 5px;
  
}
ul {
  margin: 0;
  padding: 0;
}
li {
  color: #d4d4d4;
  list-style: none;
  border-radius: 5px;
  margin: 0;
  padding: 5px;
}

li:hover {
  background: #46828C;
}